/.yarn/releases/** binary
/.yarn/plugins/** binary
/packages/agents/src/@versions/*.js binary
/packages/web/src/@data/*.js binary
/packages/web/public/@data/*.json binary
/packages/content/@content/** binary
