[submodule "data/mdn/browser-compat-data"]
	path = data/mdn/browser-compat-data
	url = https://github.com/mdn/browser-compat-data.git
[submodule "data/mdn/content"]
	path = data/mdn/content
	url = https://github.com/mdn/content.git
