/.yarn/releases/** binary linguist-generated=true
/.yarn/plugins/** binary linguist-generated=true
/packages/agents/src/@data/*.js binary linguist-generated=true
/packages/web/src/@data/*.js binary linguist-generated=true
/packages/web/public/@data/*.json binary linguist-generated=true
/packages/content/@content/** binary linguist-generated=true
/packages/usage/src/@data/*.js binary linguist-generated=true
