:root {
	--dark-base00: #282c34;
	--dark-base01: #353b45;
	--dark-base02: #373d48;
	--dark-base03: #474e5d;
	--dark-base04: #576775;
	--dark-base05: #6c8193;
	--dark-base06: #d5d8dd;
	--dark-base07: #e3e5e8;
	--dark-base08: #e66b2b;
	--dark-base09: #f5a85f;
	--dark-base0A: #fff067;
	--dark-base0B: #90e250;
	--dark-base0C: #56b6c2;
	--dark-base0D: #458fcb;
	--dark-base0E: #c95bea;
	--dark-base0F: #ef5253;
	--dark-base00-selection: #2c313a;

	--light-base00: #fafafa;
	--light-base01: #f0f0f1;
	--light-base02: #eaeaeb;
	--light-base03: #c4c4c5;
	--light-base04: #a2a3a9;
	--light-base05: #858893;
	--light-base06: #2f3137;
	--light-base07: #090a0b;
	--light-base08: #c24c0a;
	--light-base09: #e07306;
	--light-base0A: #c18401;
	--light-base0B: #38a437;
	--light-base0C: #0184bc;
	--light-base0D: #4078f2;
	--light-base0E: #c626c3;
	--light-base0F: #ca1243;
	--light-base00-selection: #fff;
}

@supports (color: color(display-p3 1 1 1)) {
	:root {
		--dark-base00: color(display-p3 0.15686 0.17255 0.20392);
		--dark-base01: color(display-p3 0.20784 0.23137 0.27059);
		--dark-base02: color(display-p3 0.21569 0.23922 0.28235);
		--dark-base03: color(display-p3 0.27843 0.30588 0.36471);
		--dark-base04: color(display-p3 0.34118 0.40392 0.45882);
		--dark-base05: color(display-p3 0.42353 0.50588 0.57647);
		--dark-base06: color(display-p3 0.83529 0.84706 0.86667);
		--dark-base07: color(display-p3 0.8902 0.89804 0.9098);
		--dark-base08: color(display-p3 0.90196 0.41961 0.16863);
		--dark-base09: color(display-p3 0.96078 0.65882 0.37255);
		--dark-base0A: color(display-p3 1 0.94118 0.40392);
		--dark-base0B: color(display-p3 0.56471 0.88627 0.31373);
		--dark-base0C: color(display-p3 0.33725 0.71373 0.76078);
		--dark-base0D: color(display-p3 0.27059 0.56078 0.79608);
		--dark-base0E: color(display-p3 0.78824 0.35686 0.91765);
		--dark-base0F: color(display-p3 0.93725 0.32157 0.32549);
		--dark-base00-selection: color(display-p3 0.17255 0.19216 0.22745);

		--light-base00: color(display-p3 0.98039 0.98039 0.98039);
		--light-base01: color(display-p3 0.94118 0.94118 0.9451);
		--light-base02: color(display-p3 0.91765 0.91765 0.92157);
		--light-base03: color(display-p3 0.76863 0.76863 0.77255);
		--light-base04: color(display-p3 0.63529 0.63922 0.66275);
		--light-base05: color(display-p3 0.52157 0.53333 0.57647);
		--light-base06: color(display-p3 0.18431 0.19216 0.21569);
		--light-base07: color(display-p3 0.03529 0.03922 0.04314);
		--light-base08: color(display-p3 0.76078 0.29804 0.03922);
		--light-base09: color(display-p3 0.87843 0.45098 0.02353);
		--light-base0A: color(display-p3 0.75686 0.51765 0.00392);
		--light-base0B: color(display-p3 0.21961 0.64314 0.21569);
		--light-base0C: color(display-p3 0.00392 0.51765 0.73725);
		--light-base0D: color(display-p3 0.25098 0.47059 0.94902);
		--light-base0E: color(display-p3 0.77647 0.14902 0.76471);
		--light-base0F: color(display-p3 0.79216 0.07059 0.26275);
		--light-base00-selection: color(display-p3 1 1 1);
	}
}

html[data-color-scheme='light'] {
	--base00: var(--light-base00);
	--base01: var(--light-base01);
	--base02: var(--light-base02);
	--base03: var(--light-base03);
	--base04: var(--light-base04);
	--base05: var(--light-base05);
	--base06: var(--light-base06);
	--base07: var(--light-base07);
	--base08: var(--light-base08);
	--base09: var(--light-base09);
	--base0A: var(--light-base0A);
	--base0B: var(--light-base0B);
	--base0C: var(--light-base0C);
	--base0D: var(--light-base0D);
	--base0E: var(--light-base0E);
	--base0F: var(--light-base0F);
	--base00-selection: var(--light-base00-selection);
}

html,
html[data-color-scheme='dark'] {
	--base00: var(--dark-base00);
	--base01: var(--dark-base01);
	--base02: var(--dark-base02);
	--base03: var(--dark-base03);
	--base04: var(--dark-base04);
	--base05: var(--dark-base05);
	--base06: var(--dark-base06);
	--base07: var(--dark-base07);
	--base08: var(--dark-base08);
	--base09: var(--dark-base09);
	--base0A: var(--dark-base0A);
	--base0B: var(--dark-base0B);
	--base0C: var(--dark-base0C);
	--base0D: var(--dark-base0D);
	--base0E: var(--dark-base0E);
	--base0F: var(--dark-base0F);
	--base00-selection: var(--dark-base00-selection);
}

@media screen and (prefers-color-scheme: light) {
	html[data-color-scheme='auto'] {
		--base00: var(--light-base00);
		--base01: var(--light-base01);
		--base02: var(--light-base02);
		--base03: var(--light-base03);
		--base04: var(--light-base04);
		--base05: var(--light-base05);
		--base06: var(--light-base06);
		--base07: var(--light-base07);
		--base08: var(--light-base08);
		--base09: var(--light-base09);
		--base0A: var(--light-base0A);
		--base0B: var(--light-base0B);
		--base0C: var(--light-base0C);
		--base0D: var(--light-base0D);
		--base0E: var(--light-base0E);
		--base0F: var(--light-base0F);
		--base00-selection: var(--light-base00-selection);
	}
}

@media screen and (prefers-color-scheme: dark) {
	html[data-color-scheme='auto'] {
		--base00: var(--dark-base00);
		--base01: var(--dark-base01);
		--base02: var(--dark-base02);
		--base03: var(--dark-base03);
		--base04: var(--dark-base04);
		--base05: var(--dark-base05);
		--base06: var(--dark-base06);
		--base07: var(--dark-base07);
		--base08: var(--dark-base08);
		--base09: var(--dark-base09);
		--base0A: var(--dark-base0A);
		--base0B: var(--dark-base0B);
		--base0C: var(--dark-base0C);
		--base0D: var(--dark-base0D);
		--base0E: var(--dark-base0E);
		--base0F: var(--dark-base0F);
		--base00-selection: var(--dark-base00-selection);
	}
}
