.sections {
	display: flex;
	gap: 30px;
	margin-top: 70px;
}

.section {
	max-width: 35%;
}

.list {
	padding-left: 20px;
	font-size: 16px;
}

.item {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
}

@media only screen and (max-width: 600px) {
	.sections {
		flex-direction: column;
	}

	.section {
		max-width: 100%;
	}
}
