.container {
	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 30px;
}

.header {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	justify-content: space-between;
}

.search {
	flex: 1;
	max-width: 280px;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 80px 0 0;
	padding: 60px 0;
	color: var(--color-foreground-tertiary);
	font-size: 14px;
	line-height: 1.6em;
}

.credits {
	display: flex;
	flex-direction: column;
	gap: 0px;
}

.logo,
.github {
	display: flex;
	color: var(--color-foreground-tertiary);
}

.logo g + g {
	color: var(--color-accent);
}

@media only screen and (max-width: 600px) {
	.header {
		flex-direction: column;
		gap: 30px;
	}

	.footer {
		flex-direction: column;
		gap: 30px;
		align-items: flex-start;
	}

	.github {
		display: none;
	}

	.search {
		width: 280px;
	}
}
