.container {
	max-width: 900px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 0px;
	margin: 80px 0 0;
	padding: 60px 0;
	color: var(--color-foreground-tertiary);
	font-size: 14px;
	line-height: 1.6em;
}

.logo,
.github {
	display: flex;
}

.logo g,
.github path {
	transition: fill 2s ease;
	fill: var(--color-foreground-tertiary);
}

.logo g + g {
	fill: var(--color-accent);
}

.logo:hover path,
.github:hover path {
	fill: currentColor;
}
