.safeToUse {
	display: flex;
	gap: 14px;
	align-items: center;
}

.safeToUseText p {
	margin: 0;
}

.safeToUseTextSafe {
	color: var(--color-foreground-rating-good);
}

.safeToUseTextUnsafe {
	color: var(--color-foreground-rating-none);
}

.usages {
	display: flex;
	gap: 0.2em;
	color: var(--color-foreground-tertiary);
	font-family: var(--font-family-mono);
}

.usagesSeperator {
	opacity: 0.5;
}

.agents {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.agent {
	display: flex;
	gap: 0;
	align-items: baseline;
}

.agentUnsupported {
	color: var(--color-foreground-rating-none);
}

.agentLow {
	color: var(--color-foreground-rating-poor);
}

.agentMedium {
	color: var(--color-foreground-rating-mid);
}

.agentHigh {
	color: var(--color-foreground-rating-good);
}

.agentIcon {
	align-self: center;
	width: 24px;
	height: 24px;
	margin-right: 15px;
	color: var(--color-foreground-secondary);
}

.agentName {
	min-width: 100px;
	font-weight: bold;
}

.agentAvailability {
	min-width: 130px;
	margin-right: 5px;
	text-align: right;
}

.agentVersion,
.agentUsage {
	min-width: 80px;
}

.agentVersion {
	color: var(--color-foreground-secondary);
	font-size: 15px;
}

.agentUsage {
	font-size: 0.9em;
	text-align: right;
}

.breakdown {
	max-width: 650px;
	font-size: 14px;
}

.breakdownGrid {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr auto;
}

.breakdownHeaders {
	margin-bottom: 6px;
	padding: 0 12px;
	color: var(--color-foreground-secondary);
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

.breakdownHeader {
	display: flex;
}

.breakdownRows {
	border: 1px solid var(--color-foreground-secondary);
	border-radius: 3px;
}

.breakdownRow {
	align-items: center;
	padding: 12px;
	border-top: 1px solid var(--color-foreground-secondary);
}

.breakdownRow[tabindex]:not(:focus) {
	cursor: pointer;
}

.breakdownRow[tabindex]:hover,
.breakdownRow:focus {
	color: var(--color-foreground-prominent);
	background: rgba(255, 255, 255, 0.025);
}

.breakdownRow[tabindex]:hover:not(:focus) {
	color: var(--color-accent);
}

.breakdownRow[tabindex]:focus .breakdownIcon,
.breakdownRow[tabindex]:hover:not(:focus) .breakdownIcon {
	color: currentColor;
}

.breakdownRow-chrome[tabindex]:focus,
.breakdownRow-chrome[tabindex]:hover:not(:focus) {
	color: #73a1fb;
}

.breakdownRow-ie[tabindex]:focus,
.breakdownRow-ie[tabindex]:hover:not(:focus) {
	color: #1ebbee;
}

.breakdownRow-edge[tabindex]:focus,
.breakdownRow-edge[tabindex]:hover:not(:focus) {
	color: #1595df;
}

.breakdownRow-firefox[tabindex]:focus,
.breakdownRow-firefox[tabindex]:hover:not(:focus) {
	color: #ff9500;
}

.breakdownRow-opera[tabindex]:focus,
.breakdownRow-opera[tabindex]:hover:not(:focus) {
	color: #ff1b2d;
}

.breakdownRow-safari[tabindex]:focus,
.breakdownRow-safari[tabindex]:hover:not(:focus) {
	color: #1d8ef8;
}

.breakdownRow-samsung-internet[tabindex]:focus,
.breakdownRow-samsung-internet[tabindex]:hover:not(:focus) {
	color: #7882ff;
}

.breakdownRow-android[tabindex]:focus,
.breakdownRow-android[tabindex]:hover:not(:focus) {
	color: #32de84;
}

.breakdownRow-nodejs[tabindex]:focus,
.breakdownRow-nodejs[tabindex]:hover:not(:focus) {
	color: #539e43;
}

.breakdownRow:focus {
	outline: none;
}

.breakdownRow:first-child {
	border-top: none;
}

.breakdownAgent {
	display: flex;
	gap: 6px;
	font-weight: 500;
}

.breakdownIcon {
	flex-grow: 0;
	flex-shrink: 0;
	width: 18px;
	height: 18px;
	margin: 0;
}

.breakdownVersion,
.breakdownUsage,
.breakdownUnsupported {
	color: var(--color-foreground-tertiary);
}

.breakdownUsage {
	font-family: 'Source Code Pro', monospace;
}

.breakdownHistory {
	position: relative;
	display: none;
	flex-direction: column;
	grid-column: 1 / span 5;
	gap: 4px;
	margin: 10px 0 0;
	color: var(--color-foreground);
	background: var(--color-background);
	border-radius: 5px;
}

.breakdownHistory::before {
	content: '';
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 22px;
	z-index: 0;
	width: 2px;
	background-color: var(--color-foreground-secondary);
	border-radius: 1px;
}

.breakdownRow:focus .breakdownHistory {
	display: flex;
}

.breakdownHistoryTitle {
	display: flex;
	gap: 5px;
}

.breakdownHistoryAvailability {
	color: var(--color-foreground-prominent);
	font-weight: 600;
}

.breakdownHistoryHeader {
	display: flex;
	gap: 10px;
	line-height: 1.6em;
}

.breakdownHistoryUsage {
	flex: 1;
	justify-content: flex-end;
	text-align: right;
}

.breakdownHistoryEntry {
	position: relative;
	z-index: 2;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 8px 0;
	align-items: flex-start;
	padding: 12px;
}

.breakdownHistoryEntryBullet {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 22px;
	height: 22px;
	margin-right: 10px;
}

.breakdownHistoryEntryBulletSimple::before {
	content: '';
	width: 6px;
	height: 6px;
	background-color: var(--color-foreground-secondary);
	border: 3px solid var(--color-background);
	border-radius: 100%;
}

.breakdownHistoryEntryBulletIconImage {
	width: inherit;
	height: inherit;
	border: 2px solid var(--color-background);
}

.breakdownNote {
	margin: 0;
	padding: 0;
	line-height: 1.6em;
}

@media only screen and (max-width: 600px) {
	.safeToUse {
		flex-direction: column;
		gap: 30px;
	}
}
