.safeToUse {
	display: flex;
	gap: 20px;
	align-items: center;
}

.safeToUseIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	color: white;
	border-radius: 5px;
}

.safeToUseIcon svg {
	filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
}

.safeToUseIconSafe {
	background: var(--color-foreground-rating-good);
}

.safeToUseIconUnsafe {
	background: var(--color-foreground-rating-none);
}

.safeToUseIcon path {
	fill: white;
}

.safeToUseText p {
	margin: 0;
}

.safeToUseTextSafe {
	color: var(--color-foreground-rating-good);
}

.safeToUseTextUnsafe {
	color: var(--color-foreground-rating-none);
}

.browsers {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.browser {
	display: flex;
	gap: 0;
	align-items: baseline;
}

.browserUnsupported {
	color: var(--color-foreground-rating-none);
}

.browserLow {
	color: var(--color-foreground-rating-poor);
}

.browserMedium {
	color: var(--color-foreground-rating-mid);
}

.browserHigh {
	color: var(--color-foreground-rating-good);
}

.browserIcon {
	align-self: center;
	width: 24px;
	height: 24px;
	margin-right: 15px;
}

.browserIcon path {
	fill: var(--color-foreground-secondary);
}

.browserName {
	min-width: 100px;
	font-weight: bold;
}

.browserReleaseDate {
	min-width: 130px;
	margin-right: 5px;
	text-align: right;
}

.browserVersion,
.browserUsage {
	min-width: 80px;
	color: var(--color-foreground-secondary);
	font-size: 15px;
}

.browserUsage {
	text-align: right;
}
