.card {
	display: flex;
	gap: 15px;
	align-items: center;
	margin: 0 0 40px;
	padding: 16px 20px;
	color: #fff;
	background: var(--color-background-secondary);
	border-radius: 8px;
}

.content {
	padding-top: 1px;
}

.icon {
	flex-grow: 0;
	flex-shrink: 0;
	width: 48px;
	height: 48px;
}

.card a {
	color: currentColor;
	font-size: 0.8em;
	opacity: 0.75;
	transition: opacity 0.2s ease;
}

.card a:hover {
	opacity: 1;
}

.experimental {
	background: var(--color-experimental);
}

.deprecated {
	background: var(--color-sentiment-negative);
}

@media only screen and (max-width: 600px) {
	.icon {
		display: none;
	}
}
