.container {
	max-width: 900px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo g path {
	fill: var(--color-tertiary);
}

.logo g + g path {
	fill: var(--color-accent);
}
