.unsupported {
	background-color: var(--color-sentiment-negative);
}

.low {
	background-color: var(--color-sentiment-low);
}

.medium {
	background-color: var(--color-sentiment-mid);
}

.high {
	background-color: var(--color-sentiment-positive);
}
