.grid {
	grid-template-columns: 2fr 2fr 1fr auto;
}

.chrome[tabindex]:focus,
.chrome[tabindex]:hover:not(:focus) {
	color: #73a1fb;
}

.ie[tabindex]:focus,
.ie[tabindex]:hover:not(:focus) {
	color: #1ebbee;
}

.edge[tabindex]:focus,
.edge[tabindex]:hover:not(:focus) {
	color: #1595df;
}

.firefox[tabindex]:focus,
.firefox[tabindex]:hover:not(:focus) {
	color: #ff9500;
}

.opera[tabindex]:focus,
.opera[tabindex]:hover:not(:focus) {
	color: #ff1b2d;
}

.safari[tabindex]:focus,
.safari[tabindex]:hover:not(:focus) {
	color: #1d8ef8;
}

.samsung-internet[tabindex]:focus,
.samsung-internet[tabindex]:hover:not(:focus) {
	color: #7882ff;
}

.android[tabindex]:focus,
.android[tabindex]:hover:not(:focus) {
	color: #32de84;
}

.nodejs[tabindex]:focus,
.nodejs[tabindex]:hover:not(:focus) {
	color: #539e43;
}

.agent {
	display: flex;
	gap: 6px;
	font-weight: 500;
}

.icon {
	composes: icon from '../shared/table.module.css';
	composes: icon from './agents.module.css';
}

.version,
.usage,
.unsupported {
	color: var(--color-foreground-tertiary);
}

.usage {
	font-family: var(--font-family-mono);
}

@media only screen and (max-width: 600px) {
	.availability {
		display: flex;
		flex-direction: column;
	}
}
